/* FAQSection.css */
.faq-section {
  width: 100%;
  margin: 0;
  padding: 10px;
  overflow-x: hidden;
}

.faq-item {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  overflow: hidden;
  
}

.faq-question {
  width: 100%;
  padding: 15px;
  text-align: center;
  background-color: #c69963;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px; 
  box-sizing: border-box;
}

.faq-answer {
  text-align: center;
  padding: 15px;
  background-color: #fff;
  color: #333;
  display: none;
  transition: max-height 0.3s ease;
}

.faq-item.active .faq-answer {
  display: block;
}
