
/* General Styles */
* {
    font-family: 'Josefin Sans', sans-serif; /* Ensures consistent font usage */
    box-sizing: border-box; /* Content box sizing */
}

/* Container for the form, uses fixed positioning to cover the entire viewport */
.id-form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center; /* Centers the form vertically */
    justify-content: center; /* Centers the form horizontally */
    z-index: 1000; /* Ensures it's above other content */
}

/* Styles for the form itself */
.id-form {
    background-color: #fff;
    padding: 2rem;
    width: 100%;
    max-width: 500px; /* Maximum width for the form */
    border-radius: 1px; /* Slight rounding of corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    position: relative;
    z-index: 1001; /* Ensures form is above the semi-transparent background */
    display: flex;
    flex-direction: column; /* Aligns children (form elements) in a column */
    align-items: center; /* Aligns children (form elements) horizontally in the center */
}

.id-form h2 {
    text-align: center; /* Aligns the text to the center */
}

/* Close button styling */
.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Input field styling */
input, select {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 1px;
    width: 100%; /* Takes the full width of the container */
}

/* Button styling, using green theme */
button, .submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0; /* Centers button horizontally */
    border: none;
    border-radius: 1px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    outline: none;
    width: auto; /* Adjust width as needed, could also be 100% if you want full width */
}

button:hover, .submit-btn:hover {
    background-color: #45a049;
}

/* Adjustments for the form group to align label and input */
.form-group {
    display: flex;
    flex-direction: column; /* Stack label above input */
    margin-bottom: 1rem;
    width: 100%; /* Takes the full width of the container */
}

.form-group label {
    margin-bottom: 0.5rem; /* Space between label and input */
}

/* Error message styling */
.error-message {
    color: red;
    margin-bottom: 1rem;
}