/* HomePage.css */



/* General box-sizing for all elements */
*, *::before, *::after {
  box-sizing: border-box;
}
body{
  text-align: center;
 

}
/* Header styles */
.header {
  grid-area: header;
  width: 100%;
  position: relative; /* May be necessary for positioning child elements */
}

/* Ensure appropriate text and section styling */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Welcome message styling */
 section {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  overflow: visible;

  /* Prevent text overflow */
  overflow-wrap: break-word;
  /* older version of overflow-wrap for older browsers */
  word-wrap: break-word;  
  word-break: break-word;
  hyphens: auto;
}
.welcome-message {
  text-align: center;
  font-weight: normal; /* Ensures the text is not bold */
  font-size: 24px; /* Slightly reduce the font size for better readability */
  margin: 40px auto; /* More vertical margin around the paragraph */
  padding: 0 20px; /* Padding for some space on the left and right */
  max-width: 1000px; /* Restrict the text width for better readability */
  line-height: 1.6; /* Increase line height for better readability */
  color: #333; /* Slightly soften the text color */
}

/* Body and HTML styling to prevent horizontal overflow */
body, html {
  overflow-x: hidden;
  overflow-y: auto;
}

/* Responsive adjustments for welcome message on smart screens*/
@media (max-width: 768px) {
  .welcome-message {
    font-size: 18px;
    padding-right:45px;
    
  }
}